<h1>Customers</h1>

<p><%= link_to "New Customer", new_admin_customer_path %></p>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>State Code</th>
    <th>Zip Code</th>
    <th>Created At</th>
  </tr>
   <% for customer in @customers %>
    <tr>
      <td><%= link_to customer.id, admin_customer_path(customer) %></td>
      <td><%= customer.name %></td>
      <td><%= customer.email %></td>
      <td><%= customer.state_code %></td>
      <td><%= customer.zip_code %></td>
      <td><%= time_ago_in_words customer.created_at %> ago</td>
  <% end %>
</table>