% if @customer.errors.present? %>
  <p>
    <h2>There were errors</h2>
    <% for error in @customer.errors.full_messages %>
      <%= error %>
    <% end %> 
    </p>
<% end %>

<%= form_for [:admin, @customer] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :state_code %>
  <%= f.url_field :state_code %>
    <%= f.label :zip_code %>
  <%= f.url_field :zip_code %>  
  <%= f.submit %>
<% end %>

<% if flash[:notice].present? %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>