<% if @product.errors.present? %>
  <p>
    <h2>There were errors</h2>
    <% for error in @product.errors.full_messages %>
      <%= error %>
    <% end %> 
    </p>
<% end %>

<%= form_for [:admin, @product] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :price %>
  <%= f.text_field :price %>
  <%= f.label :image_url %>
  <%= f.url_field :image_url %> 
  <%= f.submit %>
<% end %>

<% if flash[:notice].present? %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>